.loader-main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    right: 0;
}

.loader-container {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
}

.loader {
    height: 100px;
    width: 100px;
    border: 10px solid #ccc;
    border-right-color: #3ab764;
    /* adding border-radius */
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}